{% extends 'base.html' %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <p>Resetezi parola?</p>
        {% if validlink %}
            <label for="id_new_password1">New password</label>
            <input type="password" name="new_password1" id="id_new_password1">

            <label for="id_new_password2">Confirm password</label>
            <input type="password" name="new_password2" id="id_new_password2">

            <button type="submit">Confirma parola</button>
            {% if form.new_password1.errors %} {{ form.new_password1.errors }} {% endif %}
            {% if form.new_password2.errors %} {{ form.new_password2.errors }} {% endif %}
        {% else %}
            <p>Linkul nu este valid</p>
        {% endif %}
    </form>
{% endblock %}
